@model IEnumerable<Library.Models.DTOPurchasedBook>

@{
    ViewData["Title"] = "Purchased Books";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Purchased Books</h1>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Books.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Books.Pages)</th>
                <th>@Html.DisplayNameFor(model => model.Books.Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Books.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Books.Pages)</td>
                    <td>@Html.DisplayFor(modelItem => item.Books.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
